@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rajdhani:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    box-sizing: border-box;
    color: #edb41a;
}
*:focus {
    outline: none;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #212529!important;
}
input{
    font-family: 'Rajdhani', sans-serif;
}

.button-8 a:link {
    color: #edb41a;
}
.button-8 a:hover {
    color: #edb41a;
  }
.navbar{
    line-height: 0;
}
#logo{
    width: 7rem;
    height: 3rem;
}
.navbar-dark .navbar-brand {
    color: #edb41a;
}
.navbar-nav{
    align-items: center;
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #212529!important;
    }
}
.view,body,html{
    height:100%
}.navbar{
    background-color:rgba(0,0,0,.2)
}.page-footer,.top-nav-collapse{
    background-color:#212529
}
@media only screen and (max-width:730px){
    .navbar{
        background-color:#212529
}}

.nav-item { 
    display: table-cell; 
    position: relative; 
    padding: 10px 0;
  }
.nav-link {
    color: #edb41a;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: small;
    display: inline-block;
    padding: 15px 15px;
    position: relative;
  }
.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #edb41a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

.title_and_search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}
.search_box{
    font-size: 1.5rem;
    line-height: 2rem;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.search_box input{
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex: 1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgba(255, 255, 255, 0.164);
    border: none;
    color: #102774;
    padding: 0.9rem 1.25rem;
    width: 0;
    z-index: 1;
    font-weight: 600;
    font-size: 17px;
}
.search_box input::placeholder{
    color: #102774;
}
.search_box button{
    background-color: rgba(255, 255, 255, 0.164);;
    outline: none;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    z-index: 1;
}
.search_box button:hover{
    background-color: rgba(228, 225, 225, 0.322);
}
.button-8 {
    
    outline: none;
    background-color: rgba(209, 197, 33, 0);
    border-radius: 3px;
    border: 1px solid rgba(228, 225, 225, 0.466);
    box-shadow: rgba(228, 225, 225, 0.466) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #edb41a;
    cursor: pointer;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: .3;
    margin-left: 20px;
    outline: none;
    padding: .3rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 2rem;
}
.button-8:hover,
.button-8:focus {
    text-decoration: none;
    outline: none;
    background-color: rgba(228, 225, 225, 0.123);
    color: #edb41a;
}
.button-8:focus {
    outline: none;
}
.button-8:active {
    outline: none;
  background-color: rgba(228, 225, 225, 0.466);
  box-shadow: none;
  color: #edb41a;
}
.card-logo{
    font-size:3rem ;
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
    text-align:center;
}
.card-info{
    text-align: justify;
    margin-top: 1rem;
}
.vh-85 {
    height: 85vh !important;
}
.box:nth-child(1) {
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
    border-right: 0px!important;
}
.box:nth-child(2) {
    /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
    border-right: 0px!important;
}
.footer-area{
    background-color: #33333334;
    width: 100%;
    height: 100vh;
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0% ;
}
.mail-us{
    font-size: 1.5rem;
    line-height: 2rem;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 75%;
    display: flex;
    flex-direction: row;
}
.mail-us input{
    display: block;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex: 1;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom:1px solid white;
    color: #edb41a;
    padding: 0.9rem 1.25rem;
    width: 0;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    padding-left: 0;
}
.mail-us input::placeholder{
    color: #edb41a;
}
.mail-us button{
    background-color: rgba(255, 255, 255, 0);;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom:1px solid white;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    z-index: 1;
}
.mail-us button i:hover{
    color: #212529;
}

<<<<<<< HEAD
.justification{
    text-align: justify;
}
=======
.footer-link-margin{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items:flex-start;

}
#padding-left-23px{
    padding-left: 23px;
}
#margin-left-8px{
    margin-left: 8px;
}

.type {
    color:#0000;
    background:
    linear-gradient(-90deg,#edb41a,#0000 0) 10px 0,
    linear-gradient(#edb41a 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
     b .7s infinite steps(1),   
     t calc(var(--n)*.1s) steps(var(--n)) forwards;
  }
  
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }
>>>>>>> 54b8158f6d1db2fdff13cd5a0f07af9a9f11dba9
