
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
li,a,button,label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    list-style: none;
    text-decoration: none;
    color: #edb41a;
}
header{
    background-color: #76b5c5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 7%;
}
.brand{
    display: flex;
    justify-content: space-around;
    align-items: end;
    cursor: row-resize;
    margin-right: auto;
}
.brand a:hover{
    color: #995f20;
}
.logo{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.nav__links{
    list-style: none;
    margin-bottom: 0;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li:last-child{
    margin-right: 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #995f20;
}

.button-55 {
    
    align-self: center;
    background-color: #edb41a;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: #bc9c7e 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #642c14;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .76rem 1.5rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.login{  
    width: 25%;  
    overflow: hidden;  
    margin: 10vh auto;  
    height: 80vh; 
    padding: 50px;  
    background: #76b5c5;  
    border-radius: 10px ;  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.37);
}

.input{
    padding-bottom: 1rem;
}
.input input{
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: #fffdfd 15px 28px 25px -18px;
    box-sizing: border-box;
}
.input button{
    margin: 0;
    display: flex;
    justify-content: center;
}
.otherLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otherLogin a{
    padding: 10px;
    width:100%;
    height:40px;
    border-width:1px;
    color:rgb(0, 0, 0);
    border-color:#241d13;
    font-weight:bold;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    box-shadow:inset 0px 34px 0px -15px #f0b922;
    text-shadow:inset 0px -1px 0px #e0ab19;
    background:#edb41a;
}
.otherLogin a:hover {
    background: #ce9f1f
  }
footer {
    display: flex;
    justify-content: end;
    padding: 5px;
    color: rgb(0, 0, 0);
}

/* Index Page CSS*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #131211;
    padding: 6px 14px;
}
.sidebar .logo_content .logo{
    color: #fffdfd;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 25px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fffdfd;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li a{
    color: #fffdfd;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar ul li a i{
    height: 50px;
    min-height: 50px;
    border-radius: 12px;
    line-height: 50px;
}