@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url(back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{    
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg, #232930, #212529);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(237, 180, 26);
    font-size: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }

  .myLeftCtn header {
    color: rgb(33, 37, 41);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .row{
    height: 100%;
    } 

    .myCard {
      position: relative;
      background: #fff;
      height: 100%;
      border-radius: 25px;
      -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    } 

    .myRightCtn header {
      color: #edb41a;
      font-size: 26px;
    }

    .box {
        position: relative;
        margin: 20px;
        margin-bottom: 20px;
      } 

      .myLeftCtn .myInput {
        width: 230px;
        border-radius: 25px;
        padding: 10px;
        padding-left: 50px;
        border: none;
        -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
      }

      .myLeftCtn .myInput:focus {
        outline: none;
      } 

      .myForm {
        position: relative;
        margin-top: 50px;
      } 

      .myLeftCtn .butt {
        background: linear-gradient(45deg, #3d4650, #212529);
        color: #edb41a;
        width: 230px;
        border: none;
        border-radius: 25px;
        padding: 10px;
        -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
      } 

      .myLeftCtn .butt:hover {
        background: linear-gradient(45deg, #212529, #3d4650);
      }

      .myLeftCtn .butt:focus {
        outline: none;
      } 

      .myLeftCtn .fas {
        position: relative;
        color: #212529;
        left: 36px;
      } 

      .butt_out {
        background: transparent;
        color: #edb41a;
        width: 120px;
        border: 2px solid#edb41a;
        border-radius: 25px;
        padding: 10px;
        -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
      } 

      .butt_out:hover {
        border: 2px solid#ffffff;
      } 

      .butt_out:focus {
        outline: none;
      }
      
#head{
  font-size: 2rem;
}

#form-foot{
  padding-top: 1.5rem;
  margin-bottom: 0px !important;
}

.anchor{
  text-decoration: none !important;
}

.anchor:hover{
  color: #edb41a;
}

.organikus{
  width: 7rem;
  height: 3rem;
  margin-left: 0px;
  margin-bottom: 1.2rem;
}

.fo-change{
  font-family: 'Redressed', cursive;
  text-align: justify;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

.aboutp{
  font-size: 23px;
  text-align: justify;
}

.org:hover{
  color: #fff;
}

.learn:hover{
  color: #212529;
  background-color: #edb41a
}

.curs{
  cursor: pointer;
}

.myLeftCtn .log-siz{
  width: 120px;
}

.log-siz{
  margin-top: 1.1rem;
}

.ass{
  padding-top: 0px;
}

/* .goog{
  width: 25px;
  height: 25px;
  color: #edb41a;
  margin-left: auto;
  margin-right: auto;
}

.goog-butt{
  margin-top: 20px;
}

.butt-ass{
  color: #070707;
  width: 230px;
  height: 40px;
  border:1px solid#212529;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
} */

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 200px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-left: 46px;
  margin-top: 30px;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  margin-top: 11px;
  margin-left: 0px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.user-align header{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.user-align{
  margin-top: 10px;
}

/* @media (max-width: 766px) {
  .resp {
    margin-left: 12.5rem;
  }
} */

.resp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 45px;
}